.guitar,.piano,.violen,.drum,.flute{
  position: relative;
  background-image: url(img/guitar.png);
  width:550px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.but{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;

}

 button{
    padding:10px;
    width:100px;
    border-radius:8px;
    font-size: 18px;
    background-color: #8B4513;
    cursor:pointer;
    border:none;
    color:white;
}

button:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.piano{
    background-image:urL(img/piano.png)
}

.flute{
    background-image: url(img/flute.png);
}

.drum{
    background-image: url(img/drum.jpg);
}

.violen{
    background-image: url(img/violen.png);
}

.piano button{
     background-color: #222222;
     
}

.drum button{
      background-color: #DC143C;
      
}

.flute button{
     background-color: #1E90FF;
}

.violen button{
      background-color: #A0522D;
}

h3{
    font-size: 30px;
}

.heading{
    display:block;
    margin:10px;
}

.main{
    display:flex;
    justify-content: center;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    padding:20px;
}

.guitar:hover,.piano:hover,.violen:hover,.drum:hover,.flute:hover{
    transform:translateY(-14px);
    cursor:pointer;

}



.guitar,
.flute,
.piano,
.violen,
.drum{
    width: 500px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
    box-sizing: border-box;

    border-radius: 12px;
    overflow: hidden;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform .3s;
}







